:root {
    /* colores */
    --bg-color: #A6877C;
    --primary-shadow: #F29979 ;
    --primary-color: #F2A679;
    --secondary-shadow: #c3a78d;
    --secondary-color: #ffe2c2;

    --font-family: "Roboto", arial;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/* -----------nav ------------ */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transicion);
}
nav a:hover {
    color: var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--negrita);
}

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* ----------- Hero -------------*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: auto;
    background-color: #F2A679;
    width: 100%;
    padding: 80px 0 10px 0;
}

.hero img {
    margin: 10px;
    border-radius: 75%;
    border: 15px solid var(--secondary-color);
    height: 30rem;
    width: 30rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem;
}

/* -------- sobre mi ------------- */

.mas-sobre {
    background-color: var(--primary-color);
    padding: 1rem 6rem;
}
.mas-sobre h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.mas-sobre p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* ---------habilidades----------- */
.habilidades {
    margin: auto;
    text-align: center;
    padding: 2.5rem 8rem;
    background-color: var(--bg-color);
}
.encabezado-habilidad {
  margin-bottom: 1rem;
}

.contenedor-habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icono {
    width: 11.875rem;
    height: 11.25rem;
    justify-content: end;
}

.tarjeta-icono {
    background-color: var(--primary-color);
    border-radius: 75%;
    border: 10px solid var(--secondary-color);
    padding: 20px;
    margin: 10px;
}