@font-face {
    font-family: roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

:root {
    /* colores */
    --bg-color: #5b5b5b;
    --primary-shadow: #fffbdc ;
    --primary-color: #ffbb8b;
    --secondary-shadow: #fffffe;
    --secondary-color: #add9ff;

    --font-family: roboto, monospace , Arial;
    --bold-font: 700;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    background: rgba(255,162,112,1);
    background: -moz-linear-gradient(45deg, rgba(255,162,112,1) 0%, rgba(255,162,112,1) 9%, rgba(255,162,112,1) 37%, rgba(255,214,133,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,162,112,1)), color-stop(9%, rgba(255,162,112,1)), color-stop(37%, rgba(255,162,112,1)), color-stop(100%, rgba(255,214,133,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,162,112,1) 0%, rgba(255,162,112,1) 9%, rgba(255,162,112,1) 37%, rgba(255,214,133,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,162,112,1) 0%, rgba(255,162,112,1) 9%, rgba(255,162,112,1) 37%, rgba(255,214,133,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,162,112,1) 0%, rgba(255,162,112,1) 9%, rgba(255,162,112,1) 37%, rgba(255,214,133,1) 100%);
    background: linear-gradient(45deg, rgba(255,162,112,1) 0%, rgba(255,162,112,1) 9%, rgba(255,162,112,1) 37%, rgba(255,214,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa270', endColorstr='#ffd685', GradientType=1 );
}


html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* -----------nav ------------ */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transicion);
}
nav a:hover {
    color: var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--negrita);
}

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* ----------- Hero -------------*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: auto;
    width: 100%;
    padding: 80px 0 10px 0;
}

.hero img {
    margin: 10px;
    border-radius: 75%;
    border: 15px solid var(--primary-shadow);
    height: 30rem;
    width: 30rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem;
}

/* -------- sobre mi ------------- */

.mas-sobre {
    padding: 1rem ;
    gap: 10px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin: 20px;
    border-radius: 50px;
}
.mas-sobre h2 {
    text-align: center;
    align-items: initial;
    margin: 0 20px 20px 20px  ;
}

.mas-sobre-descripcion {
    display: flex;
    line-height: var(--line-height);
    gap: 30px;
}

/* ---------habilidades----------- */

#habilidades{
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.habilidades {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 8rem;
    gap: 10px;
}
.tarjeta {
    transition: 300ms ease-in-out;
}
.tarjeta + .tarjeta {
    margin-left: -10%;
}
.tarjeta:hover{
    transform: rotate(-4deg);
}
.tarjeta:hover ~ .tarjeta{
    z-index: 1;
    translate: 60px;
}

#habilidades h2 {
    text-align: center;
    padding-top: 100px;
}

.contenedor-habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.icono {
    width: 11.875rem;
    height: 11.25rem;
    justify-content: end;
}

.tarjeta-icono {
    background-color: var(--secondary-color);
    border-radius: 75%;
    border: 10px solid var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}


/* ----------Proyectos ------------ */
.proyectos {
    background-color: var(--primary-shadow);
    padding: 10rem 0;
}
.proyectos h2 {
    margin: 10px;
    text-align: center;
}

.img-ecommerce {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0 0 0;
}

.contenedor-de-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-shadow);
}

.tarjeta-de-proyectos{
    display: flex;
    height: 200px;
    justify-content: space-around;
    background-color: var(--primary-color);
    margin: 16px 8px;
    border-radius: 30px 0 30px 0;
}
.info-proyectos {
    margin: 10px;
}

/* ---------contactame-------- */
.contacto {
    padding: 5rem 2rem 2rem 2rem;
    color: var(--bg-color);
}
  
.contacto h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.formulario-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.control-formulario label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
}
  
.control-formulario textarea{
    resize: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif ;
}

.control-formulario .input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px outset var(--primary-color);
    outline: none;
}
.input-field::placeholder {
    color: var(--primary-color);
}
.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: var(--bg-color);
}
.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/* ---------- vista movil -------------- */
@media screen and (max-width: 760px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 90px;
        right: 5px;
        width: 40%;
        border-radius: 10px;
        align-items: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    
    nav ul li {
        margin: 8px;
    }

    .navegacion svg{
        font-size: 50px;
    }

    .menu-hamburguesa {
        display: block;
    }
    
    nav ul.show {
        transform: translateX(0);
    }

    /* ---seccion hero--- */
    .hero {
        flex-direction: column;
        gap: 30px;
      }
    
    .hero img {
        height: 20rem;
        width: 20rem;
        margin: 20px 0 100px 0;
    }
    
    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }

    /* ----- mas info---- */
    .mas-sobre-descripcion {
        flex-direction: column;
        padding: 1rem;
    }
    /* ------habilidades--------  */
    .habilidades{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5rem;
    }

    .tarjeta {
        transition: 0.5s;
    }
    .tarjeta + .tarjeta {
        margin-left: 0%;
    }
    .tarjeta:hover{
        background-color: var(--primary-color);
    }
    .tarjeta:hover ~ .tarjeta{
        z-index: 1;
        translate: 0px;
    }

    .icono {
        width: 10rem;
        height: 10rem;
        justify-content: center;
    }
    
    .tarjeta-icono {
        background-color: var(--secondary-color);
        border-radius: 75%;
        border: 10px solid var(--secondary-shadow);
        padding: 15px;
        margin: 10px;
    }

    /* ----------proyectos---------- */
    .contenedor-de-proyectos{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) { 

    main{
        max-width: 100%;
    }

    .hero{
        padding: 10px 0 10px 0;
    }

    nav{
        position: static;
    }

    .hero img {
        width: 15rem;
        height: 15rem;
    }

    .habilidades{
        padding: 2rem;
    }
    .tarjeta-icono{
        margin: 0;
        padding: 10px;
    }

    .contacto {
        padding: 1rem;
    }
} 