:root {
    /* colores */
    --bg-color: #542d5d;
    --primary-shadow: #7e3668;
    --primary-color: #bb4777;
    --secondary-shadow: #ff6985;
    --secondary-color: #ffa18e;

    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* extras
.color1 {color: #f6b7aa;}
.color2 {color: #f4d292;}
.color3 {color: #144c8a;}
.color4 {color: #127778;}
.color5 {color: #54b089;}*/
/*font-family: 'Secular One', sans-serif;*/

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--color-primario);
}
  
nav a {
    color: var(--color-primario);
    transition: var(--transicion);
}
nav a:hover {
    color: var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--negrita);
}

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}